* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fafafa;
  color: #333;
}

.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1551218808-94e220e084d2') center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.55);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
}

.overlay p {
  margin: 15px 0;
}

.btn {
  padding: 12px 24px;
  background: #ff7a18;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  margin: 10px;
  display: inline-block;
}

.btn.secondary {
  background: transparent;
  border: 2px solid #fff;
}

section {
  padding: 60px 10%;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 15px;
  margin-top: 30px;
}
.menu{
    background-color: #aaa;
}

.menu-category {
  margin-bottom: 30px;
}

.menu-category ul {
  list-style: none;
  text-align: center;
}

.menu-category li {
  padding: 8px 0;
}

.amenities ul {
  max-width: 600px;
  margin: auto;
  list-style: none;
}

.amenities li {
  padding: 8px 0;
}

.location {
  text-align: center;
  background-color: #d4d2d2;
}

footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 20px;
}
